/*color de fondo y dimension*/
.header_general {
    background-color: var(--color-amarillo);
    display:flex;
    flex-direction: column;
    padding: 5vw 5vw 0vw 5vw;
}


.header__div__logo_barra_y_cuotas {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:90vw;
}

.header__div__logo_barra_y_cuotas img {
    width: 50%;
    padding:0px 10px;
}

/* posicion de barra de busqueda*/
.header__nav__barra_y_search {
    display:flex;
    width:50%;
}
/*diseño de la barra*/
.header__nav__barra_y_search  input{
    padding: 4px 0px 6px 4px;
    border-radius: 5px 0px 0px 5px;
    border: solid 1px white;
    width:40vw;
}


/*posicion del boton search y diseño*/
.boton {
    background-color: white;
    width: 20px;
    text-align: center;
    border-radius:0px 5px 5px 0px;
    border: solid 1px white;
    padding: 4px 0px 2px 0px;
}
.boton i {
    color:#666
}

/* ///////////////////////////// */

.header__cuotas {
    text-align: center;
    padding:5% 0px;
}

header i {
    width: 1rem;
}

/* ///////////////////////////// */

/*posicion del menu de navegacion.*/
.header__nav {
    color:black;
    cursor: pointer;
    padding-left:2%;
    display:none;
}

.header__nav a {
    color:black;
}

.burger-menu {
    max-width: 12%;
    background-color: var(--color-celeste);
    padding:10px 10px;
    text-align:center;
    color:white;
    margin:auto;
    border-radius:5px;
}

/*En nuestras dev tools el minimo para tablet es 426px*/
@media (min-width: 426px){
    .burger-menu {
        display:none
    }
    /*////////////////////////////////////////*/
    .header_general {
        padding: 2vw 0vw 0vw 0vw;
    }

    .header__div__logo_barra_y_cuotas {
        justify-content: space-around;
        width:100vw;
    }

    .header__nav__barra_y_search{
        width:30%;
    }

    .header__nav__barra_y_search  input{
        padding: 4px 0px 6px 4px;
        border-radius: 5px 0px 0px 5px;
        border: solid 1px white;
        width:27vw
    }

    .header__div__logo_barra_y_cuotas img{
        width: 28%;   
    }
    /*////////////////////////////////////////*/  
    .header__nav {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding:10px
    }
    .header__nav ul{
        display:flex;
        gap:15px
    }

    .header__nav__left {
        margin-left:15px;
    }
    .header__nav__right{
        margin-right:15px;
    }
}

