/*color de fondo y dimension*/
.header_general {
    background-color: var(--color-amarillo);
    display:flex;
    flex-direction: column;
    padding: 20px 10px 0px 10px;
}


.header__div__logo_y_barra {
    display:flex;
    align-items: center;
    width:93vw
}

.header__div__logo_y_barra img {
    width: 50vw;

}

/* posicion de barra de busqueda*/
.header__nav__barra_y_search {
    display:flex;
    width:50vw;
}
/*diseño de la barra*/
.header__nav__barra_y_search  input{
    padding: 4px 0px 6px 4px;
    border-radius: 5px 0px 0px 5px;
    border: solid 1px white;
    width:100%;
}
.header__nav__barra_y_search form {
    padding-left:5%;
    width: 100%;
}


/*posicion del boton search y diseño*/
.boton {
    background-color: white;
    width: 20px;
    text-align: center;
    border-radius:0px 5px 5px 0px;
    border: solid 1px white;
    padding: 4px 0px 2px 0px;
}
.boton i {
    color:#666
}

/* ///////////////////////////// */

.header__cuotas {
    text-align: center;
    padding:5% 0px;
}

header i {
    width: 1rem;
}

/* ///////////////////////////// */

/*posicion del menu de navegacion.*/
.header__nav {
    color:black;
    cursor: pointer;
    padding-left:2%;
    display:none;
}

.header__nav a {
    color:black;
}

.burger-menu {
    max-width: 12%;
    background-color: var(--color-celeste);
    padding:10px 10px;
    text-align:center;
    color:white;
    margin:auto;
    border-radius:5px;
}

/*En nuestras dev tools el minimo para tablet es 426px*/
@media (min-width: 426px){
    .header__nav {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .burger-menu {
        display:none
    }
}

@media (min-width: 769px){
    .header__nav {
        display:flex;
    }
    .burger-menu {
        display:none
    }
}
