body {
    width: 100vw;
    background-color: var(--color-gris-claro);
}
.main__banner img {
    width:100%
}


.main__section__title {
    width:90%;
    margin:auto;
    padding:3% 0% 3%;
    color: var(--color-gris-oscuro)
}

.main__section__article {
    width: 90%;
    background-color: white;
    margin:auto;
    margin-bottom:10px;
    transition: box-shadow 1s;
}
.main__section__article div{
    display:flex;
    flex-wrap: wrap;
    padding: 15px;
    border-top: 1px solid var(--color-gris-claro);
}

.main__section__article:hover{
box-shadow: 0px 0px 10px rgb(100, 100, 100); 

}

.main__section__article img {
    width:100%;

}

.fa-truck {
    outline: 1px solid #39b54a;
    font-size:16px;
    padding:5px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 50%;
    color: var(--color-verde);
    margin-left: 87%;
    margin-top:-30px;
    transition:transform 5s
}

.fa-truck:hover {
    transform:rotateZ(-90deg)
}

.main__section__article__description {
    padding:10px 0px 10px 0px;
    color:var(--color-gris-oscuro);
    opacity:0;
    transition: opacity 2s;
}

.main__section__article__description:hover {
    opacity:1;
}

.main__section__article h4 {
    color:var(--color-verde);
    width:70%
}
.main__section__article h3 {
    width:30%
}


@media (min-width: 768px){
    .main__section__article__description {
        display:flex;
        opacity:1
    }
    .main__section__article {    
        max-width: 280px;
    }
    .main__section__article h4{
        text-align: center;
    }
    section {
        display:flex;
        flex-wrap:wrap;   
    }
}

@media (min-width: 1024px){
    main section{
        max-width:1144px;
        margin:auto;
    }
    .main__section__article {
        max-width: 230px;
    }
}

    .main__banner {
        max-width: 1144px;
        margin:auto;
    }

