fieldset h2 {
    text-align: center;
    margin-top:5%;
    color:var(--color-gris-oscuro)
}

.main__form__login {
    display:flex;
    flex-direction: column;
    width:80%;
    margin:auto;
    gap:30px;
}

.main__form__login input {
    padding:10px;
    border-radius: 10px;
    border:solid white 1px;
}

.button__login {
    width:100%;
    padding:10px;
    border-radius: 10px;
    margin:5% 0% 30%;
    background-color: var(--color-celeste);
    color:white;
    letter-spacing: 1px;
    transition: background-color 3s;
}

.button__login:hover {
    background-color: #0022AA;
}

@media (min-width:1024px) {
    .main__form__login {
        max-width: 768px;;
    }
}