:root {
    --color-amarillo :#EAC926;
    --color-azul: #03264C;
    --color-celeste: #1259c3;
    --color-gris-oscuro: #666;
    --color-gris-claro: #ebebeb;
    --color-verde: #39b54a;
}

/*Tamaños tipograficos*/
header span {
    font-size: 16px
}
header a {
    font-size: 16px;
}

main h2 {
    font-size: 24px
}
main h3 {
    font-size: 18px;
}
main h4 {
    font-size: 16px;
}
main article h2 {
    font-size: 16px;
}

footer h3 {
    font-size:16px;
}
footer p {
    font-size:12px
}
footer h4 {
    font-size: 12px;
}


* {
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin:0px;
    padding:0px;
}



/*color de fondo y dimension*/
header {
    background-color: var(--color-amarillo);
    background-size: 120px 120px;
}

/*logo de ML*/
header img {
    width: 55%;
    padding: 30px;
}

/* posicion de barra de busqueda*/

/*diseño de la barra*/
header form input{
    padding: 3px;
    padding-right: 70px;
    letter-spacing: -1px;
    margin-left: 20px;
}

/*posicion del boton search y diseño*/
.boton {
    margin-left: 20px;
    background-color: white;
    width: 20px;
    text-align: center;
    border-radius:3px;
    border: solid rgb(52, 51, 51) 1px;
    margin-top:3px;
    margin-bottom:10px;

}


.header__cuotas {
    text-align: center;
    padding-bottom:5%
}

/*posicion del menu de navegacion.
¿Por qué tengo que ponerle margen negativo para que quede al borde?*/
a {
    color:black;
    cursor: pointer;
    margin-left:2%
}

.burger-menu {
    width:11%;
    background-color: var(--color-celeste);
    padding:10px;
    text-align:center;
    color:white;
    margin-left: 45%;
    border-radius:5px;
}




/*body de la pagina. No lo requeria pero meti un poco de mano*/

.main__banner img {
    padding-top:5px;
    border-radius: 5%;
    width:95%;
}

main {
    text-align:center;
    background-color: var(--color-gris-claro);
    padding-bottom:10px;
}

main article img {
    width: 91%;
}

article {
    border:black solid 1px;
    margin: 10px 35px;
    background-color: white;
}
article h4 {
    color:var(--color-verde)
}


/*footer*/


footer {
    text-align: center;
    padding:0px 8px 8px 8px;
    background-color: var(--color-gris-claro);
}

footer ul{
    background-color: white;
}

footer svg{
    fill:var(--color-celeste);
    height: 2em;
    margin-top: 50px;
    margin-bottom:10px;
}

p {
    color:var(--color-gris-oscuro);
    margin:0% 10% 0% 10%
}

footer h4 {
    text-align: left;
    color:var(--color-gris-oscuro);
    padding:30px 0px 10px 20px
}







